:root {
    --primary-color: #FF4394;
    --secondary-color: #FF2382;
    --text-color: #020202;
    --background-color: #EBF5EE;
    --background-color2: #F7F9F9;
  }


.especialidades{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}