:root {
    --primary-color: #FF4394;
    --secondary-color: #FF2382;
    --text-color: #020202;
    --background-color: #EBF5EE;
    --background-color2: #F7F9F9;
  }

.nosotros{
    width: 100%;
    height: 110vh;
    background-color: var(--background-color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 4rem 1rem;
}

.nosotros .title{
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}
.title .question{
    color: var(--primary-color);
    font-size: 4rem;
    font-family: "Mr Dafoe", cursive;
    font-weight: 400;
}
.title .question2{
    color: var(--primary-color);
    margin-top: 2.5rem;
    font-size: 4rem;
    font-family: "Mr Dafoe", cursive;
    font-weight: 400;
}
 .title .whatis {
    margin-top: -.7rem;
    color: #000;
    font-size: 2.5rem;
    font-family: "Moulpali", sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
 }
 .title .liz {
    margin-top: 2.5rem;
    margin-left: -1rem;
    color: var(--primary-color);
    font-size: 3.6rem;
    font-family: "Mr Dafoe", cursive;
    font-weight: 400;
    transition: all 0.3s ease-in;
 }
.title .liz:hover{
    font-size: 3.62rem;
    cursor: pointer;
    color: var(--secondary-color);
}

 .title .studio{
    margin-top: 4rem;
    margin-left: 1rem;
    color: #000;
    font-size: 1rem;
    font-family: "Moulpali", sans-serif;
    font-weight: 400;
 }

 .nosotros .weinfo{
    width: 100%;
    height: 88%;
    display: flex;
    align-items: center;
    margin-top: -2.5rem;
 }

 .weinfo .infofoto{
    width: 50%;
    height: 100%;

 }

 .infofoto .fil{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .weinfo .infofoto .fil img{
    width: 62%;
    height: 50%;
    object-fit: cover;
    z-index: 5;
 }
 
 .fil .fil_1{
    position: absolute;
    width: 62%;
    height: 50%;
    margin: -3.2rem 0 0 -3.2rem;
    background-color: var(--primary-color);
    opacity: 0.7;
 } 
 .fil .fil_2{
    position: absolute;
    width: 62%;
    height: 50%;
    margin: 3.2rem -3.2rem 0 0;
    background-color: var(--primary-color);
    opacity: 0.5;
 }

.nosotros .weinfo .infodes{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}
.infodes p{
    width: 75%;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.25rem;
    font-weight: 400;
}
.infodes .redes{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.2rem 0;
    gap: 0.5rem;
}
.redes i{
    font-size: 1.3rem;
    color: #d0d3d4;
    transition: all 0.3s ease;
}
.redes i:hover{
    transform: scale(1.1);
    color: var(--primary-color);
}


@media screen and (max-width: 480px) {

    .nosotros{
        width: 100%;
        height: 115vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    
    .nosotros .title{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: start;
        justify-content: center;
    }
    .title .question{
        font-size: 2.5rem;
    }
    .title .question2{
        margin-top: 2.0rem;
        font-size: 2.5rem;
    }
     .title .whatis {
        margin-top: 0rem;
        color: #000;
        font-size: 1.5rem;
        letter-spacing: -1px;
     }
     .title .liz {
        margin-top: 1.7rem;
        margin-left: -0.3rem;
        font-size: 2.8rem;
     }
    .title .liz:hover{
        font-size: 2.6rem;
    }
    
     .title .studio{
        margin-top: 3.45rem;
        margin-left: 0.7rem;
        color: #000;
        font-size: 0.8rem;
     }
    
     .nosotros .weinfo{
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0rem;

     }
    
     .weinfo .infofoto{
        width: 100%;
        height: 50%;
     }
    
     .infofoto .fil{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
     }
    
     .weinfo .infofoto .fil img{
        width: 70%;
        height: 55%;
     }
     
     .fil .fil_1{
        position: absolute;
        width: 70%;
        height: 55%;
        margin: -2.8rem 0 0 -2.8rem;
        opacity: 0.7;
     } 
     .fil .fil_2{
        position: absolute;
        width: 70%;
        height: 55%;
        margin: 2.8rem -2.8rem 0 0;
        opacity: 0.5;
     }
    
    .nosotros .weinfo .infodes{
        width: 100%;
        height: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.7rem;
    }
    .infodes p{
        width: 89%;
        text-align: center;
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .infodes .redes{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.2rem 0;
        gap: 0.5rem;
    }
    .redes i{
        font-size: 1.5rem;
    }
    .redes i:hover{
        transform: scale(1.05);
    }
    

}