:root {
  --primary-color: #ff4394;
  --secondary-color: #ff2382;
  --text-color: #020202;
  --background-color: #ebf5ee;
  --background-color2: #f7f9f9;
}

.referencias {
  position: relative;
  width: 100%;
  height: 290vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  overflow: hidden;
  padding: 2.5rem 0 0 0;
}

.referencias .referencia-fil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  position: absolute;
}

.referencias .referencia-fil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.referencias .container-referencias {
  z-index: 5;
  width: 90%;
  height: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 24%);
  gap: 2.3rem 1.4rem;
  padding: 0 1rem;
}

.container-referencias .container-card {
  position: relative;
  background-color: var(--background-color2);
  border-radius: 2px;
  box-shadow: -3px 3px 6px 2px #ff23821c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transition: all 0.4s ease-in;
  border-radius: 16px;
}

.container-card .float-cert {
  position: absolute;
  width: 50%;
  height: auto;
  top: -6%;
  left: -8%;
  z-index: 10;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.container-card .float-cert:hover {
  transform: scale(1.1);
  opacity: 1;
}

.float-cert img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(-6px 6px 3px #ff23823e);
}

.container-referencias .container-card:hover {
  box-shadow: -0px 0px 8px 2px #ff23829d;
  transform: translateY(-12px) scale(1.04);
  cursor: pointer;
}

.container-card .card-img {
  width: 100%;
  height: 53%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

.container-card .card-img img {
  width: 100%;
  height: 100%;
  top: 10%;
  object-fit: cover;
  object-position: top;
}

.container-card .info-card {
  width: 100%;
  height: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1.1rem 0 0 0;
}

.info-card .title {
  font-family: "Moulpali", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: center;
}

.info-card .title span {
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
  color: #7a7a7a;
}

.info-card .icons {
  padding: 0.15rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.info-card .icons a {
  color: var(--text-color);
  font-size: 0.82rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  transition: all 0.3s ease-in-out;
}

.info-card .icons i {
  font-size: 1.15rem;
  color: rgb(39, 39, 39);
  transition: all 0.3s ease-in-out;
}

.info-card .icons a:hover {
  color: var(--primary-color);
}

.info-card .icons a:hover i {
  color: var(--primary-color);
}

.info-card div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-card div img {
  width: 18%;
  height: auto;
  object-fit: contain;
  margin-top: 0.15rem;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(-3px 3px 3px #3434342e);
}

.info-card div img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .referencias {
    position: relative;
    width: 100%;
    height: 660vh;
    gap: 1rem;
    overflow: hidden;
  }

  .referencias .container-referencias {
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 7.8%);
    gap: 0.8rem;
    padding: 0 0.3rem;
  }

  .container-referencias .container-card {
    width: 93%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    box-shadow: 0px 0px 2px 2px #ac97a028;
  }

  .container-referencias .container-card:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px #ac97a04f;
  }
  .container-card .card-img {
    width: 100%;
    height: 52%;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
}

  .container-card .card-img img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .container-card .info-card {
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0rem;
  }

  .info-card .title {
    font-family: "Moulpali", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    line-height: 0.95rem;
    width: 95%;
    height: 30%;
  }

  .info-card .title span {
    font-size: 0.88rem;
  }

  .info-card .icons {
    padding: 0rem 0;
    width: 90%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
  }

  .info-card .icons i {
    font-size: 1.2rem;
  }

  .info-card .icons i:hover {
    transform: scale(1.01);
  }

  .container-card .float-cert {
    position: absolute;
    width: 43%;
    height: auto;
    top: -4%;
    left: -5%;
    z-index: 10;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
  }

  .referencias .referencia-fil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    position: absolute;
  }
}

@media screen and (max-width: 480px) {
  .referencias {
    position: relative;
    width: 100%;
    height: 950vh;
    gap: 2rem;
    overflow: hidden;
  }

  .referencias .container-referencias {
    width: 92%;
    height: 97%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(13, 7.4%);
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 0 0 0;
  }

  .container-referencias .container-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0rem;
    box-shadow: 0px 0px 2px 2px #ac97a028;
  }

  .container-referencias .container-card:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px #ac97a04f;
  }

  .container-card .card-img {
    width: 100%;
    height: 57%;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
}

  .container-card .card-img img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .container-card .info-card {
    width: 100%;
    height: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0rem;
  }

  .info-card .title {
    font-family: "Moulpali", sans-serif;
    font-size: 1.05rem;
    font-weight: 500;
    text-align: center;
    width: 98%;
    height: auto;
    line-height: 1.05rem;
    margin-bottom: .5rem;
  }

  .info-card .title span {
    font-size: 0.85rem;
  }

  .info-card .icons {
    padding: 0;
    width: 98%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.1rem;
    margin-bottom: .8rem;
  }

  .info-card .icons i {
    font-size: 0.95rem;
  }

  .info-card .icons i:hover {
    transform: scale(1.01);
  }

  .container-card .float-cert {
    position: absolute;
    width: 43%;
    height: auto;
    top: -6%;
    left: -5%;
    z-index: 10;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
  }

  .referencias .referencia-fil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    position: absolute;
  }
}
