:root {
    --primary-color: #FF4394;
    --secondary-color: #FF2382;
    --text-color: #020202;
    --background-color: #EBF5EE;
    --background-color2: #F7F9F9;
}


.referencias {
    position: relative;
    width: 100%;
    height: 240vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    overflow: hidden;
    padding: 2.5rem 0 0 0;
}

.referencias .referencia-fil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    position: absolute;
}

.referencias .referencia-fil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.referencias .container-referencias {
    z-index: 5;
    width: 85%;
    height: 88%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 33%);
    gap: 1.2rem;
    padding: 0 1rem;

}

.container-referencias .container-card {
    position: relative;
    background-color: var(--background-color2);
    border-radius: 2px;
    box-shadow: -3px 3px 6px 2px #ff238239;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in;
}

.container-card .float-cert {
    position: absolute;
    width: 48%;
    height: auto;
    top: -6%;
    left: -8%;
    z-index: 10;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}


.container-card .float-cert:hover {
    transform: scale(1.1);
    opacity: 1;
}

.float-cert img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(-6px 6px 3px #ff23823e);
}

.container-referencias .container-card:hover {
    box-shadow: -3px 3px 6px 2px #ff23829d;
    transform: scale(1.01);
    cursor: pointer;
}

.container-card .card-img {
    width: 46%;
    height: 36%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container-card .card-img img {
    width: 100%;
    height: 100%;

}

.container-card .info-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 1.1rem 0 0 0;
}


.info-card .title {
    font-family: "Moulpali", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: center;
}

.info-card .title span {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    color: #7a7a7a
}

.info-card .icons {
    padding: 0.15rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.info-card .icons a {
    color: var(--text-color);
    font-size: 0.82rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    transition: all 0.3s ease-in-out
}

.info-card .icons i {
    font-size: 1.15rem;
    color: rgb(39, 39, 39);
    transition: all 0.3s ease-in-out
}

.info-card .icons a:hover {
    color: var(--primary-color);
}

.info-card .icons a:hover i {
    color: var(--primary-color);
}

.info-card div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-card div img {
    width: 18%;
    height: auto;
    object-fit: contain;
    margin-top: 0.15rem;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(-3px 3px 3px #3434342e);

}

.info-card div img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .referencias {
        position: relative;
        width: 100%;
        height: 460vh;
        gap: 1rem;
        overflow: hidden;
    }


    .referencias .container-referencias {
        width: 100%;
        height: 95%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 12%);
        gap: 0.8rem;
        padding: 0 0.3rem;
    }

    .container-referencias .container-card {
        width: 93%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
        box-shadow: 0px 0px 2px 2px #ac97a028;

    }

    .container-referencias .container-card:hover {
        transform: scale(1.01);
        cursor: pointer;
        box-shadow: 0px 0px 2px 2px #ac97a04f;

    }

    .container-card .card-img {
        width: 45%;
        height: 40%;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .card-img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    .container-card .info-card {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
    }

    .info-card .title {
        font-family: "Moulpali", sans-serif;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: center;
        line-height: .95rem;
        width: 95%;
        height: 30%;
    }

    .info-card .title span {
        font-size: 0.88rem;
    }

    .info-card .icons {
        padding: 0rem 0;
        width: 90%;
        height: 65%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.1rem;
    }

    .info-card .icons i {
        font-size: 1.2rem;
    }

    .info-card .icons i:hover {
        transform: scale(1.01);
    }

 

    .container-card .float-cert {
        position: absolute;
        width: 43%;
        height: auto;
        top: -4%;
        left: -5%;
        z-index: 10;
        opacity: 0.9;
        transition: all 0.3s ease-in-out;
    }

    .referencias .referencia-fil {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20%;
        position: absolute;
    }


}

@media screen and (max-width: 480px) {
    .referencias {
        position: relative;
        width: 100%;
        height: 500vh;
        gap: 2rem;
        overflow: hidden;
    }


    .referencias .container-referencias {
        width: 89%;
        height: 97%;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(9, 10%);
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        padding: 0 0 0 0;
    }

    .container-referencias .container-card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
        padding: 0 0.3rem;
        box-shadow: 0px 0px 2px 2px #ac97a028;

    }

    .container-referencias .container-card:hover {
        transform: scale(1.01);
        cursor: pointer;
        box-shadow: 0px 0px 2px 2px #ac97a04f;

    }

    .container-card .card-img {
        width: 43%;
        height: 38%;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .card-img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    .container-card .info-card {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
    }

    .info-card .title {
        font-family: "Moulpali", sans-serif;
        font-size: 1.05rem;
        font-weight: 500;
        text-align: center;
        width: 95%;
        height: 30%;
        line-height: 1.05rem;
    }

    .info-card .title span {
        font-size: 0.85rem;
    }

    .info-card .icons {
        padding: 0;
        width: 95%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.1rem;
    }

    .info-card .icons i {
        font-size: .95rem;
    }

    .info-card .icons i:hover {
        transform: scale(1.01);
    }


    .container-card .float-cert {
        position: absolute;
        width: 43%;
        height: auto;
        top: -6%;
        left: -5%;
        z-index: 10;
        opacity: 0.9;
        transition: all 0.3s ease-in-out;
    }

    .referencias .referencia-fil {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20%;
        position: absolute;
    }
}