:root {
    --primary-color: #FF4394;
    --secondary-color: #FF2382;
    --text-color: #020202;
    --background-color: #EBF5EE;
    --background-color2: #F7F9F9;
}

.visitanos{
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
    background-color: var(--background-color);
}

.visitanos p{
    width: 80%;
    text-align: center;
    font-size: 1.1rem;
}
.visitanos iframe{
    width: 100%;
    height: 65%;
}

@media screen and (max-width: 768px) {
    .visitanos{
        width: 100%;
        height: 120vh;
        gap: 1rem;
        display: flex;
        align-items: center;  
        justify-content: end;  
    }
    
    .visitanos p{
        display: flex;
        align-items: start;
        justify-content: center;
        width: 90%;
        height: 20%;
        text-align: center;
        font-size: 1.18rem;
    }
    .visitanos iframe{
        width: 100%;
        height: 66%;
    }
    
    
}


@media screen and (max-width: 480px) {
    .visitanos{
        width: 100%;
        height: 120vh;
        gap: 1rem;
        display: flex;
        align-items: center;  
        justify-content: end;  
    }
    
    .visitanos p{
        display: flex;
        align-items: start;
        justify-content: center;
        width: 90%;
        height: 20%;
        text-align: center;
        font-size: 1rem;
    }
    .visitanos iframe{
        width: 100%;
        height: 66%;
    }
    
    
}